<ion-view title="Login">
  <ion-content class="full-height" scroll="false">

    <ion-slide-box class="full-height" show-pager="false" >
        <ion-slide class="full-height" ng-if="firstTime">
          <div class="full-height" layout="column" layout-align="space-around center">
            <img md-whiteframe="5" src='img/intro/Options.png'/>
            <div class="full-width" layout="row" layout-align="space-around center">
              <span></span>
              <span></span>
              <h5 style="color:slategray">You can manage Analytics, Template, Object.</h5>
              <i class="icon ion-chevron-right" style="font-size:30px;color:slategray"></i>
            </div>
          </div>
        </ion-slide>
        <ion-slide class="full-height" ng-if="firstTime">
          <div class="full-height" layout="column" layout-align="space-around center">
            <img md-whiteframe="5" src='img/intro/Object.png'/>
            <div class="full-width" layout="row" layout-align="space-around center">
              <!--<span></span>-->
              <span></span>
              <h5 style="color:slategray">Manage Objects.</h5>
              <i class="icon ion-chevron-right" style="font-size:30px;color:slategray"></i>
            </div>
          </div>
        </ion-slide>
        <ion-slide class="full-height" ng-if="firstTime">
          <div class="full-height" layout="column" layout-align="space-around center">
            <img md-whiteframe="5" src='img/intro/Template.png'/>
            <div class="full-width" layout="row" layout-align="space-around center">
              <!--<span></span>-->
              <span></span>
              <h5 style="color:slategray">Manage Template.</h5>
              <i class="icon ion-chevron-right" style="font-size:30px;color:slategray"></i>
            </div>
          </div>
        </ion-slide>
        <ion-slide  class="full-height" ng-if="firstTime">
          <div class="full-height" layout="column" layout-align="space-around center">
            <img md-whiteframe="5" src='img/intro/Analytics.png'/>
            <div class="full-width" layout="row" layout-align="space-around center">
              <!--<span></span>-->
              <span></span>
              <h5 style="color:slategray">View Analytics.</h5>
              <i class="icon ion-chevron-right" style="font-size:30px;color:slategray"></i>
            </div>
          </div>
        </ion-slide>
      </div>
      <!--Login page-->
      <ion-slide id="login-image">
        <div layout="column" layout-align="space-around" style="height: 100%">

          <div class="logo-box">
            <img src='img/FHCNt4jKRuWM8WUTthri_symplcmsapplogo.png'
                 style="width: 150px; height: auto;">
          </div>

          <span></span>
          <span></span>
          <form>
            <div class="list padding">
              <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" ng-model="user.email" placeholder="Username">
              </label>

              <label class="item item-input">
                <i class="icon ion-locked placeholder-icon"></i>
                <input type="password" ng-model="user.password" placeholder="Password">
              </label>
            </div>
            <button ng-click=login() style="opacity: 0.7" class="button main-bg-color button-block "><b>Log in</b>
            </button>
          </form>
        </div>
      </ion-slide>
    </ion-slide-box>

    <!--<div layout="column" layout-align="space-around" style="height: 100%">-->

    <!--<div class="logo-box">-->
    <!--<img src='img/FHCNt4jKRuWM8WUTthri_symplcmsapplogo.png'-->
    <!--style="width: 150px; height: auto;">-->
    <!--</div>-->

    <!--<span></span>-->
    <!--<span></span>-->
    <!--<form>-->
    <!--<div class="list padding" >-->
    <!--<label class="item item-input" >-->
    <!--<i class="icon ion-person placeholder-icon"></i>-->
    <!--<input type="text" ng-model="user.email" placeholder="Username">-->
    <!--</label>-->

    <!--<label class="item item-input" >-->
    <!--<i class="icon ion-locked placeholder-icon"></i>-->
    <!--<input type="password" ng-model="user.password" placeholder="Password">-->
    <!--</label>-->
    <!--</div>-->
    <!--<button ng-click=login() style="opacity: 0.7" class="button main-bg-color button-block "><b>Log in</b></button>-->
    <!--</form>-->
    <!--</div>-->


  </ion-content>

</ion-view>
