<ion-view title="Object Details" ng-cloak>

  <ion-content scrollbar-y="false" class="has-header">
    <md-tabs class="moveUp" md-dynamic-height md-no-pagination="true" md-center-tabs="true" md-selected="tabIndex">
      <md-tab  label="main">
    <div class="bar bar-header background-light-blue">
      <h1 class="title " ng-click="editObjectName = true">
        {{object.thing.name}}
        <span class="ion-edit"></span>
      </h1>
      <button type="button" class="button button-small button-assertive " ng-click="delete()">Delete</button>
    </div>

    <div class="spacer" style="width: 283px; height: 44px;"></div>

    <form name="objectForm">
      <div ng-init="setForm(objectForm)"></div>

      <label ng-show="editObjectName" class="item item-input">
        <span class="input-label"><strong>Name</strong></span>
        <input type="text"
               ng-change="toggleRefreshBoolean()"
               ng-blur="editObjectName = false"
               focus-if="editObjectName"
               ng-model="object.thing.name"
               name="objectName"
               required="required">
      </label>

      <div class="red text-center" ng-show="objectForm.objectName.$error.required">Name is required!</div>
      <div class="spacer" style="width: 283px; height: 15px;"></div>

      <div  ng-repeat="tem in tems" ng-class-even="'even-list'" >
        <!--If attr type is text-->

        <div class="object-list" style="padding-bottom:0" ng-if="tem.type === 'text' || tem.type === 'paragraph' || tem.type === 'link' || tem.type === 'number'" layout="column" layout-align="center none">

          <md-input-container  class="md-block">
            <label >
              <span class="md-title"><b>{{tem.key}}</b></span>
              <span class="red" ng-if="tem.required">*</span>
            </label>
            <div ng-switch="tem.type">
              <input ng-switch-when="link"
                     name="{{tem.key}}"
                     ng-required="tem.required"
                     value="{{tem.value}}"
                     ng-model="tem.value"
                     ng-pattern="/^(www|http:\/\/|https:\/\/)/i">

              <input ng-switch-when="number"
                     name="{{tem.key}}"
                     ng-required="tem.required"
                     value="{{tem.value}}"
                     ng-model="tem.value"
                     ng-pattern="/^(\d+)((\.?)(\d+))?$/"/>

              <input ng-switch-default
                     name="{{tem.key}}"
                     ng-required="tem.required"
                     value="{{tem.value}}"
                     ng-model="tem.value"/>
            </div>
            <div ng-messages="objectForm[tem.key].$error" multiple md-auto-hide="true">
              <div ng-message="required">
                This field is required!
              </div>
              <div ng-message="pattern">
                This is not a {{tem.type}}!
              </div>
            </div>
          </md-input-container>
        </div>

        <!--If attr type is file-->
        <div class="object-list" ng-if="tem.type === 'file'" >
          <label> <span class="md-subhead colorGray"><strong>{{tem.key}}</strong></span><span class="red" ng-if="tem.required">*</span></label>
          <div layout="row" layout-align="space-between">
            <span></span>
          <!--Required error message-->
          <!--<div class="red text-center" ng-show="objectForm[tem.key].$error.required">-->
            <!--<div class="spacer" style="width: 283px; height: 15px;"></div>-->
            <!--This field is required!-->
          <!--</div>-->
          <input type="hidden" ng-model="dauConMum" name="{{tem.key}}" ng-required="tem.required && !tem.file">


            <!--If file is not uploaded-->
            <div ng-if="!tem.file">
              <span layout="column" layout-align="center center" style="height:60px">
                <div flex class="material-icons" style="font-size:40px; color:lightgray"> description</div>

                <p><strong>No file uploaded.</strong></p>
              </span>
            </div>
            <!--If file is uploaded-->
            <div ng-if="tem.file">

              <div class="wrapper"
                   ng-show="(fileType.imageType.indexOf(tem.file.url.substr(tem.file.url.lastIndexOf('.') + 1).toLowerCase()) > -1)"
                   style='background-image: url(&#39;{{tem.file.url.split(" ").join("%20")}}&#39;);'>
              </div>
              <div ng-show="!(fileType.imageType.indexOf(tem.file.url.substr(tem.file.url.lastIndexOf('.') + 1).toLowerCase()) > -1)">
                  <span layout="column" layout-align="center center" style="height:60px">
                  <!--<div class="column " >-->
                    <div flex class="material-icons" style="font-size:40px; color:orange"> description</div>

                    <p>File Type: <strong>{{tem.file.url.substr(tem.file.url.lastIndexOf('.') + 1).toLowerCase()}}</strong></p>
                  </span>
              </div>

            </div>
            <div layout="column" layout-align="center">
              <md-button class="md-icon-button" ng-click="showActionSheet($index)">
                <md-icon class="material-icons">mode_edit</md-icon>
              </md-button>
            </div>

          </div>

          <!--<md-divider ng-if="!$last"></md-divider>-->
        </div>

        <!--If attr type is relationship-->
        <div class="object-list" ng-if="tem.type === 'relationship'">
          <label> <span class="md-subhead colorGray"><b>{{tem.key}}</b></span>
            <span class="red" ng-if="tem.required">*</span></label>

{{form.$invalid}}
          <div layout="row" layout-align="space-between">
            <input type="hidden" ng-model="dauConMum" name="{{tem.key}}" ng-required="tem.required && !tem.relationship">
            <!--If no relationship is set-->
            <div>
              <div class="spacer" style="width: 283px; height: 5px;"></div>
              <div class="row">
                <div class="col text-center">
                  <strong ng-show="!tem.relationship">No relationships are set</strong>
                  <strong ng-show="tem.relationship">{{tem.relationship[0] + " object(s) of type " + tem.relationship[1]}}</strong>
                </div>
              </div>
            </div>

            <div layout="column" layout-align="center">
              <md-button class="md-icon-button" ng-click="changeTab(tem)">
              <md-icon class="material-icons">mode_edit</md-icon>
              </md-button>
            </div>
            </div>
        </div>
      </div>
    </form>
      </md-tab>

      <!--second tab-->
      <md-tab label="second">
        <md-input-container class="md-block padding">
          <md-select
                     placeholder="Select template" ng-change="changeTemplate(chosenTemplate)"
                     ng-model="chosenTemplate">
            <md-option ng-selected="$index ==0" ng-repeat="template in templates" value="{{template}}">{{template.name}}</md-option>
          </md-select>
        </md-input-container>

        <md-divider></md-divider>

        <div ng-click="toggleChosenRelationshipObject(object)"
             ng-repeat="object in objects | orderBy:'thing.name' | filter:searchText" ng-click="chooseObject(object)">
          <md-list-item class="md-2-line" ng-model="chosenApp" ng-click="chooseTemplate($index)">
            <md-icon class="icon-in-list">apps</md-icon>
            <div class="md-list-item-text">
              <p>{{object.thing.name}}</p>
            </div>
            <label class="checkbox" style="float:right">
              <input type="checkbox" ng-checked="chosenRelationshipObjects.indexOf(object) > -1">
            </label>
          </md-list-item>
          <md-divider md-inset></md-divider>
        </div>

        <span class="red">{{errorMessage2}}</span>
      </md-tab>
      </md-tabs>
  </ion-content>

  <ion-footer-bar>
    <button ng-show="tabIndex == 0" type="button" ng-disabled="form.$invalid" ng-click="save(true)"
            class="button main-bg-color button-block ">SAVE
    </button>

    <div ng-show="tabIndex == 1"  class="row button-fixed-bottom">
      <button ng-click="returnToMainTab()" class="button main-bg-color button-block col-50">Back</button>
      <button  ng-disabled="chosenRelationshipObjects.length == 0" ng-click="saveRelationship()" class="button main-bg-color button-block col-50">Add Relationship</button>
    </div>
  </ion-footer-bar>
</ion-view>
